hr
	{
		 border-style:none;
				  
		 border-top-style: dotted;
              
	     height: 0px;
			  
		 width:5%;

		 border-color:black;	
				  
		 border-width:5px;	

	}
			
body

{
				 
	background-color: #b2ebf2; 
				  
				
}
h1
{

color: #eb6383;


}
h2
{
	color: #eb6383;

}	