hr
	{
		 border-style:none;
				  
		 border-top-style: dotted;
              
	     height: 0px;
			  
		 width:25%;

		 border-color:red;	
				  
		 border-width:5px;	

	}
			

.a
{
	
	font-family:chiller;
	
}
.bhr
	{
		 border-style:none;
				  
		 border-top-style: dotted;
              
	     height: 0px;
			  
		 width:100%;

		 border-color:red;	
				  
		 border-width:5px;	

	}

.body1
{
	
	background-color:#8ccbbe;
}

.body2
{
	
  background-color:#ffe8df;
  
}
 
 
h2
{
  font-family:Comic Sans MS;

}

.font1
{
  font-family:chiller;
}

